{% extends "admin/change_list.html" %}
{% load escavoos admin_list %}

{% block extrastyle %}
  {{ block.super }}
    <style>
        .Abortado { background-color: #F4CCCC; }
        .Pousado { background-color: #87CEFA; }
        .Voando { background-color: #D9EAD3; }
        .Decolando { background-color: #FFF2CC; }
        .Planejado { background-color: #FFFFFF; }
    </style>
{% endblock %}

{% block result_list %}
  {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
  {% voos_list cl %}
  {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
{% endblock %}
